<div class="p-grid timesheet-container">
    <div class="p-col-12 timesheet-header">
      <h2>{{ currentDate | date: 'fullDate' }}</h2>
      <p-button icon="pi pi-plus" (click)="showDialog()" class="p-button-rounded p-button-outlined"></p-button>
    </div>
    <div class="p-col-12">
      <p-table [value]="timesheets" class="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
              <th>Issue ID</th>
              <th>Task Description</th>
              <th>Estimation Time</th>
              <th>Added Time</th>
              <th>Resolved Time</th>
              <th>Finished Time</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-timesheet let-i="rowIndex">
            <tr>
              <td>{{timesheet.issueId}}</td>
              <td>{{timesheet.task}}</td>
              <td>{{timesheet.estimatedTime}}</td>
              <td>{{timesheet.addedTime | date: 'shortTime'}}</td>
              <td>
                <span *ngIf="timesheet.resolvedTime">{{timesheet.resolvedTime}}</span>
                <span *ngIf="!timesheet.resolvedTime">-</span>
              </td>
              <td>
                <span *ngIf="timesheet.finishedTime">{{timesheet.finishedTime | date: 'shortTime'}}</span>
                <span *ngIf="!timesheet.finishedTime">-</span>
              </td>
              <td>
                <button (click)="editEntry(i)">Edit</button>
              </td>
            </tr>
          </ng-template>
      </p-table>
    </div>
  </div>
  
    <p-dialog header="New Timesheet Entry" [(visible)]="displayDialog" [modal]="true" [closable]="false" [style]="{width: '30vw'}">
    <div class="p-fluid">
        <div class="p-field">
            <label for="issueId">Issue ID</label>
            <input id="issueId" type="text" pInputText [(ngModel)]="newTimesheet.issueId"/>
          </div>
      <div class="p-field">
        <label for="task">Task</label>
        <input id="task" type="text" pInputText [(ngModel)]="newTimesheet.task"/>
      </div>
       
      <div class="p-field">
        <label for="estimatedTime">Estimated Time</label>
        <input id="estimatedTime" type="text" pInputText [(ngModel)]="newTimesheet.estimatedTime"/>
      </div>
      <div class="p-field" *ngIf="isEditActive">
        <label for="resolvedTime">Resolved Time</label>
        <input id="resolvedTime" type="text" pInputText [(ngModel)]="newTimesheet.resolvedTime"/>
      </div>
    </div>
    <p-footer>
      <p-button label="Save" icon="pi pi-check" (click)="saveEntry()"></p-button>
      <p-button label="Cancel" icon="pi pi-times" (click)="hideDialog()" class="p-button-secondary"></p-button>
    </p-footer>
  </p-dialog>