/* General styles for the timesheet component */
.p-grid {
    margin-top: 20px;
  }
  
  .p-col-12 {
    margin-bottom: 20px;
  }
  
  p-table {
    width: 100%;
  }
  
  p-table th, p-table td {
    padding: 10px;
    text-align: left;
  }
  
  p-table th {
    background-color: #f4f4f4;
  }
  
  .p-dialog {
    width: 30vw !important;
  }
  
  .p-dialog .p-field {
    margin-bottom: 15px;
  }
  
  .p-footer p-button {
    margin-right: 10px;
  }
  