<div class="p-grid">
    <div class="p-col-12">
      <p-button label="Validate Attendance" icon="pi pi-check" (click)="validateAttendance()"></p-button>
    </div>
    <div class="p-col-12">
      <p-table [value]="attendanceRecords">
        <ng-template pTemplate="header">
          <tr>
            <th>Date</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Valid</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-attendance>
          <tr>
            <td>{{attendance.date | date: 'shortDate'}}</td>
            <td>{{attendance.timeIn}}</td>
            <td>{{attendance.timeOut}}</td>
            <td>{{attendance.isValid ? 'Yes' : 'No'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  