<div class="dashboard">
    <header>
      <h1 class="animate-header">Dashboard</h1>
    </header>
    <main>
      <button class="animate-button" (click)="navigateToTimesheet()">Timesheet</button>
      <button class="animate-button" (click)="navigateToAttendance()">Attendance</button>
      <div class="quick-stats animate-section">
        <h2>Quick Stats</h2>
        <ul>
          <li>Hours Worked Today: 8</li>
          <li>Employee Name: 15</li>
          <li>Attendance Rate: 95%</li>
        </ul>
      </div>
      <div class="recent-activities animate-section">
        <h2>Recent Activities</h2>
        <ul>
          <li>4 brakes in total</li>

        </ul>
      </div>

    </main>
  </div>